 /* Scher is 1280 bij 800   */
 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.Container{
  background-image: url('./images/rect3717.png');
  padding-left: 52.75%;
  padding-right: 6.48%;
  height: 100vh;
  background-size: contain;
  background-repeat  : no-repeat;
  background-position: center;
}

.Button {
  padding-top: 5%;
  padding: 10;
  text-align: center;
} 

.Buttons {
  padding-top: 65%;

} 

/* .ButtonRow {
  padding-top: 60%;
} */

.MachineStatusTekst {
  display: block;
  padding-top: 12%;
  text-align: center;
}